{% extends 'base.html' %}


{% block main %}
<h3> Lista de Fabricantes</h3>

<!-- Carrega o componente de alerta -->
  {% if messages %}
     {% for mensagem in messages %}
         <div class="alert alert-success alert-dismissible">
             {{ mensagem }}
             <button type="button" class="close" data-dismiss="alert">&times;</button>
         </div>
     {% endfor %}
  {% endif %}

    <ul class="list-group">
        {% for i in dados %}
            <li class="list-group-item">
                Fabricante: {{i.descricao}} <br>

                <a class="btn btn-info" href = "/altera_fabricante/{{ i.id }}/">
                    <i class="fa fa-edit" style="font-size:20px;color:white;"></i>
                    Editar</a>
                <a class="btn btn-danger" href = "/exclua_fabricante/{{ i.id }}/">
                    <i class="fa fa-trash-o" style="font-size:20px;color:white;"></i>
                    Excluir</a><br>

            </li>
        {% endfor %}
    </ul>

{% endblock %}
